/* Add CSS Styling */
.odd, .cooler{
    background-color: rgb(253, 145, 169);
    font-family: 'Verdana', 'Dejavu Sans', sans-serif;
}
#unique {
    color: rgb(0 40, 255);
    font-size: 36px;
}
.cooler {
    font-size: 24px;
}
#four {
    background: rgb(36, 229, 52);
    font-size: 24px;
    font-weight: bold;
}

